BODY { background-color: #FDF5E6 }
A:hover { color: red }
H2 {
	color: #440000;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif
}
TH.TITLE   { background-color: #EF8429;
             font-size: 28px;
             font-family: Arial, Helvetica, sans-serif;
}
.WHITE {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: bold;
    text-decoration : none;
}
.DARK { background-color: black;
}
.RED { font-weight: bold;
       color: red;
}