<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
         
    <display-name>Sample Web Application</display-name>
	
    <servlet>
        <servlet-name>SuccessViewServlet</servlet-name>
        <servlet-class>edu.asupoly.ser422.t6mvc2.views.SuccessView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>edu.asupoly.ser422.t6mvc2.controller.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SuccessViewServlet</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>
